.rounded {
    color: aquamarine;
    background-color:white;
    border-color: aquamarine;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    text-align: center;
    height: 25px;   
    width: 125px;
    font-weight: lighter;
}
.circle {
    color: white;
    background-color: aquamarine;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    padding: 4px 3px 0 3px;
    font-size: x-large;

}
.shadow {
    color: white;  
    background-color: rgb(47, 114, 168);
    border: 2px solid #000;
    font-weight: lighter;
    text-align: center;
    height: 25px;  
    width: 150px;
    box-shadow: 5px 5px 1px 1px black;
    font-size: large;
}